  .achtergrond-scroll .parallax {
    position: relative;
    background-image: url(/src/images/fotos/FotoManMetScherm_5_11zon.jpeg); /* Zet hier de afbeelding die je wilt als achtergrond */
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }