@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap');


/* Basic style for the modal */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 3; /* Higher z-index to be on top of the overlay */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
    font-family: 'Roboto';
    background-image: url(/src/images/ai/gradient.jpg);
}

.modal .response
{
    font-family: 'montserat';
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
}

.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 2; /* Below the modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Gray background */
}

.close {
    color: #8c8c8c;
    font-size: 28px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.chatbot-image{
    width: 301px;
    height: 100px;
    margin-right: 20px;
}

.user-input{
    width: 73%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
}

.send-button{
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    background-color: #af4c4c;
    color: white;
    transition: 400ms;
}

.send-button:hover
{
    width: 22%;
    border: 0px solid #ccc;
    font-size: 19px;

}
.send-button:active
{
    width: 22%;
    border: 3px solid #ccc;
    font-size: 19px;
    transition: 100ms;
}


.open-button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url(/src/images/ai/gradient.jpg);
    background-repeat: none;
    background-size: cover;
    border: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: 400ms;
}

.open-button:hover{
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.flex
{
    width: 100%;
    display: flex;
}

.flex .user-input
{
    float: left;
}

.flex .send-button
{
    float: right;
}
