body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
}


.navbar{
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.2);
    color: white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 0 auto 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 6rem;
    transition: 400ms;
}
.navbar:hover
{
    
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 0 auto 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 6rem;
}

.navbar nav {
    margin-left: auto;
    padding-right: 4rem;
}

.navbar h2 {
    font-size: 2em;
    letter-spacing: 0.09em;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem 0 1rem;
    transition: 400ms;
}
.navbar a:hover {
    text-decoration: underline;
    transition: 100ms;
}

.navbar .blue{
    background-color: #6f8ab7;
    border: none;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
    transition: 400ms;
}
.navbar .blue:hover {
    background-color: #567ab8;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 0 0.4rem 0 0.4rem;
    border-radius: 0.5rem;
    transition: 100ms;
}
.navbar .blue:active {
    background-color: #567ab8;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 0 0.4rem 0 0.4rem;
    transition: 100ms;
}



.content
{
    height: 200vh;
    margin: 8px;
}