<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/components/footer.css" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <title>Footer</title>
  </head>
  <body>
    <div class="footer">
      <footer>
        <p>&copy; 2025 Gti Beveren. All rights reserved.</p>
        <p>
          5ADB -
          <abbr
            title="Robbe Ghyssaert, Jason Van Landeghem, Alexander Brands, Matisse De Keersmaeker, Jorne Duym, Clément Vercautere en Tommy Bannanenkak"
            >B groep</abbr
          >
        </p>
        <p>
          <a
            class="GTI"
            href="https://www.gemeentebkz.be/gemeentelijk-technisch-instituut"
            >GTI Beveren</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
