<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="auteur" content="5ADB">
    <meta name="description" content="Lessen 5ADB">
    <link rel="stylesheet" href="/src/css/components/lessen.css">
    <title>Lessen 5ADB</title>
</head>
<body>
    <div class="main">
        <h1>Lessenpakket van 5ADB</h1>
        <table>
            <tr class="head">
                <th>Les</th>
                <th>5e jaar</th>
                <th>6e jaar</th>
            </tr>
            <tr class="header">
                <td colspan="3">Basisvorming</td>
            </tr>
            <tr>
                <td>Aardrijkskunde</td>
                <td>1 uur</td>
                <td>1 uur</td>
            </tr>
            <tr>
                <td>Engels</td>
                <td>2 uur</td>
                <td>2 uur</td>
            </tr>
            <tr>
                <td>Frans</td>
                <td>2 uur</td>
                <td>2 uur</td>
            </tr>
            <tr>
                <td>Geschiedenis</td>
                <td>1 uur</td>
                <td>1 uur</td>
            </tr>
            <tr>
                <td>Godsdienst (naar keuze)</td>
                <td>2 uur</td>
                <td>2 uur</td>
            </tr>
            <tr>
                <td>Lichamelijke Opvoeding</td>
                <td>2 uur</td>
                <td>2 uur</td>
            </tr>
            <tr>
                <td>Nederlands</td>
                <td>2 uur</td>
                <td>2 uur</td>
            </tr>
            <tr>
                <td>Wiskunde</td>
                <td>3 uur</td>
                <td>3 uur</td>
            </tr>
            <tr>
                <td>Natuurwetenschappen</td>
                <td>1 uur</td>
                <td>1 uur</td>
            </tr>
            <tr>
                <td>Economie</td>
                <td>0 uur</td>
                <td>1 uur</td>
            </tr>
            <tr class="header">
                <td colspan="3">Keuzevakken</td>
            </tr>
        </table>
    </div>
</body>
</html>