<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/components/navbar.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <title>Navigatie</title>
</head>
<body>
    <div id="navbar" class="navbar">
        <h2 class="titel">5ADB</h2>
        <nav>
            <a href="/src/pages/lessen.html"><button class="standard-button">Lessenpakket</button></a>
            <a href=""><button class="standard-button">Foto's</button></a>
            <a href="/src/pages/About.html"><button class="standard-button">Over ADB</button></a>
            <a href=""><button class="standard-button">Na het 6de</button></a>
            <a href=""><button class="blue">Formulier</button></a>
        </nav>
    </div>
</body>
</html>