<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/components/navbar.css">
    <title>Navigatie</title>
</head>
<body>
    <div id="navbar" class="navbar">
        <a href=""><h2 class="titel">5ADB</h2></a>
        <nav>
            <a href="/src/pages/lessen.html">Lessenpakket</a>
            <a href="">Foto's</a>
            <a href="/src/pages/About.html">Over ADB</a>
            <a href="">Na het 6de</a>
            <a href="" class="blue"><button class="blue">Formulier</button></a>
        </nav>
    </div>

    <div class="content">
        <h1>Welkom op mijn website!</h1>
        <p>Scrol naar beneden om het parallax effect te zien.</p>
        <p>De achtergrond scrollt trager dan de inhoud.</p>

    </div>

    <script src="/src/js/navbar.js"></script>
</body>
</html>