
body {
    background-color: #333
}

.about h1 {
    font-size: 40pt;
}

.about h2 {
    font-size: 30pt;
}

.about h3 {
    font-size: 20pt;
}
.about aside {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    top: 25%;
    border-radius: 10px 0 0 10px;
}

.about h4 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.about main {
    flex: 1;
    padding: 20px;
}

.about section {
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}

.about ul {
    margin-left: 40px;
}

.about .vinkje {
    margin-left: 0px;
    margin-top: 5px;
}
.about .vinkje li {
    list-style-type: none;
}

