@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  overflow-x: hidden;
  background-color: #000000;
}

header img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.Title {
  z-index: 50;
  position: absolute;
  left: 50%;
  top: 15%;
  color: white;
  background-color: transparent;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 200%;
}

.Title h1 {
  letter-spacing: 0.4rem;
}

.Title h6 {
  font-size: 60%;
  font-weight: 400;
}

.Title p {
  letter-spacing: 0.1rem;
}

.gradient {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
}
.intro {
  background-color: black;
  display: flex;
  gap: 20px rgba(255, 255, 255, 0);
  width: 100%;
  height: 500px;
}

.column {
  padding: 20px;
  box-sizing: border-box;
}
.button-read-more {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 145px;
}

.button-read-more-text {
  padding: 10px 15px;
  background-color: black;
  transition: 300ms;
}
.button-read-more-text:hover {
  background-color: white;
  color: black;
}
.button-read-more-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-left: 1px solid white;
  background-color: black;
}

.button-read-more-icon svg {
  width: 12px;
  height: 12px;
  stroke: white;
  stroke-width: 2;
  fill: none;
}
.column-1 {
  width: 50%;
  background-color: #000000;
  color: white;
  margin-left: 250px;
  margin-right: 150px;
  text-align: left;
}
.column-1 .scroll-field .scroll-container .content h2 {
  font-family: "Raleway";
  font-weight: 180;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.column-1 .scroll-field .scroll-container .content p {
  font-family: "Raleway";
  font-weight: 50;
  line-height: 1.9;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.column-2 {
  width: 50%;
  background-color: #000000;
  margin-left: 250px;
  margin-right: 250px;
}
.column-2 img {
  width: 679px;
  height: 380px;
  border-radius: 5px;
}
.photo-section {
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
}
.photo-section h3 {
  margin-bottom: 10px;
}
.photo-section p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.photo-container {
  display: flex;
  justify-content: space-around;
}
.photo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 18%;
}
.photo-item:hover {
  transition: all 0.2;
  box-shadow: lightgrey 0.5px 0.5px 1.5px 1px;
}
.photo-item img {
  width: 90%;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
}
.photo-item img:hover {
  transition: all 0.5s;
  transform: scale(1.03);
}

/* Foto fullscreen onclick */
.FullscreenFoto {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.FullscreenFoto-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
}

.FullscreenFoto-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.FullscreenFoto-prev,
.FullscreenFoto-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

.FullscreenFoto-prev:hover,
.FullscreenFoto-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.FullscreenFoto-prev {
  left: 10px;
}

.FullscreenFoto-next {
  right: 10px;
}

.BlackBarNav {
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  background-color: black;
}

.OpSchoolGraken {
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
  border: 0;
}

.button-read-more {
  margin: 20px 0;
}

.Quote {
  background-color: white;
  color: black;
  padding-bottom: 200px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Quote div {
  font-size: larger;
  width: 60%;
  min-width: 400px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 15px;
  transition: all 1s;
}

.Quote div:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.Quote div p {
  text-align: right;
}
