
body
{
    background-image: url(/src/images/backgrounds/lessen.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.lessen .main /*opmaak van de main kader op de pagina*/
{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}


.lessen .lessenpakket /*opmaak van de tabel*/
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}
.lessen .main h1
{
    font-family: Arial, Helvetica;
    font-size: 3rem;
    padding: 20px;
}
.lessen .head h2
{
    font-weight: 800;
    font-size: 2rem;
    padding: 20px;
}
.lessen .header h3
{
    font-weight: 800;
    font-size: 1.5rem;
    padding: 2px;
}
.lessen tr
{
    border-bottom: 1px solid #000000;
}

.lessen tr td p
{
    padding: 15px;
    text-align: center;
}
.lessen th .header h2
{
    font-weight: 800;
}

.lessen th .les p
{
    width: 70%;
}
.lessen th .uur p
{
    width: 15%;
}