@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 500ms;
}

body {
  background-color: black;
  font-family: "Roboto Flex", sans-serif;
}

main {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 80px auto;
  width: 70%;
  padding: 40px;
  border-radius: 40px;
  background-color: black;
  color: #F0F0F0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}
main h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  color: #F0F0F0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

main .grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
}

main .grid-container div {
  background-color: black;
  max-height: 650px;
}

main .grid-container div:nth-child(odd) {
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  direction: rtl;
  text-align: left;
  border-left: white 2px solid;
}

main .grid-container div h2 {
  padding: 20px;
}

main .grid-container div p {
  font-weight: 200;
  padding: 20px;
}

main .grid-container div img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

main div,
main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.grid-container {
  box-shadow: none;
}

fieldset
{
  border: none;
  border-radius: 20px;
}

.banner
{
  background-image: url(../images/AdobeStock_1133554305.jpeg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.Overgang
{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  height: 15vh;
  width: 100%;
  position: absolute;
  top: 35vh;
}

@media (max-width: 2000px) {
  main {
    width: 90%;
    padding: 20px;
  }
  main h1 {
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  main {
    width: 100%;
    padding: 10px;
  }
  main h1 {
    font-size: 28px;
  }
}
@media (max-width: 756px) {
  main {
    width: 100%;
    padding: 10px;
  }
  main h1 {
    font-size: 24px;
  }
  main .grid-container {
    grid-template-columns: 1fr;
  }

  .banner, .Overgang
  {
    opacity: 0;
    height: 0px;
  }
}