.parallax {
  background-image: none !important;
  background-color: black !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.subject-section {
  gap: 0 !important;
  justify-content: space-around !important;
  padding: 40px 0;
  margin-bottom: 60px;
  scroll-margin-top: 120px;
}

.section-containerZZ {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100% !important;
  margin: 50px 0;
}

.column-1 {
  float: right;
}

.column-F img {
  max-width: 780px;
  width: auto;
  min-height: 480px;
  object-fit: cover;
  border-radius: 5px;
}

.column-F {
  width: 40%;
  float: right;
}

.section-container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
